/* Toast.module.css */

.toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282a36; /* Dark theme background */
  color: #f8f8f2; /* Light text for readability */
  padding: 20px 25px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(31, 31, 31, 0.1), 0 1px 3px rgba(31, 31, 31, 0.08);
  max-width: 80%;
  width: auto;
  text-align: left;
  font-family: 'Garamond', serif; /* Thematic font */
  font-size: 16px;
  line-height: 1.5;
  animation: fadeInOut 5s ease-in-out;
}

.title {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  color: #ff5555; /* Halloween red for the title */
}

.message p {
  margin: 8px 0;
  color: #50fa7b; /* Spooky green for messages */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  animation: fadeInOut 5s ease-in-out;
}
