.appContainer {
  font-family: 'Garamond', serif;
  color: #f8f8f2;
  max-width: 90vw;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #6272a4;
  border-radius: 8px;
  background-color: #282a36; /* Slightly lighter than the body for contrast */
}

.title {
  color: #ff5555;
  text-align: center;
  font-size: 1.8rem;
}

.spellList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.spellListContainer,
.selectedSpellContainer {
  flex: 1;
  background-color: #44475a;
  padding: 10px;
  border-radius: 8px;
}

.spellListContainer ul {
  list-style-type: none;
  padding: 0;
}

.spellItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #50fa7b;
  margin-bottom: 5px;
  background-color: #282a36;
  transition: background-color 0.3s, color 0.3s;
}

.spellItem:hover,
.spellItem.selected {
  background-color: #6272a4;
  color: #50fa7b;
}

.spellDetails {
  padding: 10px;
  background-color: #282a36;
  border-radius: 4px;
}

.castButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff5555;
  color: #f8f8f2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.castButton:hover {
  background-color: #ff79c6;
}

.customSpellCreator {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.customSpellCreator input,
.customSpellCreator select,
.customSpellCreator button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #6272a4;
  background-color: #44475a;
  color: #f8f8f2;
}

.customSpellCreator button {
  background-color: #ff5555;
  cursor: pointer;
}

.customSpellCreator button:hover {
  background-color: #ff79c6;
}

@media (min-width: 768px) {
  .appContainer {
    max-width: 60vw;
  }

  .spellList {
    flex-direction: row;
  }

  .title {
    font-size: 2.5rem;
  }
}

.githubLink {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #24292e;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.githubLink a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
}

.githubLink:hover {
  background-color: #2c974b;
}
