.appContainer {
  font-family: 'Garamond', serif;
  background-color: #0a0a0a;
  color: #f8f8f2;
  max-width: 60vw;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #4e3b66;
  border-radius: 8px;
}

.title {
  color: #ff5555;
  text-align: center;
}

.spellList {
  display: flex;
  gap: 20px;
}

.spellListContainer,
.selectedSpellContainer {
  flex: 1;
  background-color: #22212c;
  padding: 10px;
  border-radius: 8px;
}

.spellListContainer ul {
  list-style-type: none;
  padding: 0;
}

.spellItem {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #50fa7b;
  margin-bottom: 5px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.spellItem:hover,
.spellItem.selected {
  background-color: #6272a4;
  color: #50fa7b;
}

.spellDetails {
  padding: 10px;
  background-color: #282a36;
  border-radius: 4px;
}

.castButton {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff5555;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.castButton:hover {
  background-color: #ff79c6;
}
